*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

body{
    background:#050816;
    color:white;
}

/* Navbar */

nav{
    position:fixed;
    width:100%;
    top:0;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:20px 60px;

    background:rgba(0,0,0,0.5);
    backdrop-filter:blur(10px);

    z-index:1000;
}

.logo{
    font-size:1.5rem;
    font-weight:bold;
}

nav ul{
    list-style:none;
    display:flex;
    gap:30px;
}

nav a{
    color:white;
    text-decoration:none;
    transition:0.3s;
}

nav a:hover{
    color:#60a5fa;
}

/* Hero Section */

.hero{
    height:100vh;

    background:
    linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.7)
    ),
    url("https://images.unsplash.com/photo-1462331940025-496dfbfc7564");

    background-size:cover;
    background-position:center;

    display:flex;
    justify-content:center;
    align-items:center;

    text-align:center;
}

.hero-content{
    max-width:700px;
}

.hero h1{
    font-size:4rem;
    margin-bottom:20px;
}

.hero p{
    font-size:1.2rem;
    line-height:1.8;
    margin-bottom:30px;
}

.btn{
    text-align: center;
    display:inline-block;

    padding:15px 35px;

    background:#2563eb;
    color:white;

    text-decoration:none;
    border-radius:50px;

    transition:0.3s;
}

.btn:hover{
    transform:translateY(-3px);
    box-shadow:0 0 25px #3b82f6;
}

/* Features */

.features{
    padding:100px 10%;
}

.features h2{
    text-align:center;
    margin-bottom:50px;
    font-size:2.5rem;
}

.card-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:25px;
}

.card{
    background:rgba(255,255,255,0.05);

    border:1px solid rgba(255,255,255,0.1);

    padding:30px;
    border-radius:20px;

    transition:0.3s;
}

.card:hover{
    transform:translateY(-10px);
    box-shadow:0 0 20px rgba(96,165,250,0.5);
}

.card h3{
    margin-bottom:15px;
}

/* Footer */

footer{
    text-align:center;
    padding:25px;
    background:#020617;
}
.planets-page{
    padding:120px 10%;
    text-align:center;
}

.planet-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:25px;
    margin-top:40px;
}

.planet-card{
    background:rgba(255,255,255,0.05);
    padding:25px;
    border-radius:20px;
    transition:.3s;
}

.planet-card:hover{
    transform:translateY(-10px);
}

.planet-card a{
    display:inline-block;
    margin-top:15px;
    padding:10px 20px;
    background:#2563eb;
    color:white;
    text-decoration:none;
    border-radius:30px;
}

.planet-details{
    padding:50px 10%;
}

.planet-details div{
    margin-bottom:60px;
    padding:30px;
    background:rgba(255,255,255,0.05);
    border-radius:20px;
}

.planet-details h2{
    margin-bottom:15px;
}
.planet-card{
    background:rgba(255,255,255,0.08);
    backdrop-filter:blur(10px);
    border:1px solid rgba(255,255,255,0.15);
}
body{
    background:
    linear-gradient(
        rgba(5,8,22,0.7),
        rgba(5,8,22,0.9)
    ),
    url("planetsbg.jpeg");

    background-size:cover;
    background-position:center;
    background-attachment:fixed;

    color:white;
}
.mercury{
    background-image: url("");
}
.earth{
    background-image: url("earth.jpeg");
}
